<h4>Add New Message</h4>
<br>
<form action="add-message" method='POST'>
  Name: <input type='text' name='name'>
  Message: <input type='text' name='message'>
  <br>
  <br>
  <input type='submit' value='Add Message'>
</form>